@font-face{
	font-family: 'bpg_nino_mtavruli_normal';
	src: url('bpg_nino_mtavruli_normal.otf')
}
ul{
	list-style: none;
	font-family: 'bpg_nino_mtavruli_normal';
}
a{
	color: #3D58A6;
	font-size: 22px;
	text-decoration: none;
}
a.siaxleebi{
	color: #EE4036;
}
img{
	width: 100px;
	margin-left: 40px;
}
div.date{
	background-color: #3D58A6;
	width: 56px;
	height: 56px;
	text-align: center;
	display: inline-block;
	margin-left: 40px;
	position: relative;
}
span.date1{
	color: white;
	position: relative;
	font-size: 48px;
	font-family: 'bpg_nino_mtavruli_normal';
	line-height: 64px;
}
p{
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 22px;
	margin-left: 40px;

}
p.date{
	color: #3D58A6;
}
p.satauri{
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 20px;
}
img.statia{
	width: 270px;
}
p.statia{
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 16px;
}